# -*- coding:utf-8 -*-
!!! XML
!!!
%html{:'xml:lang' => 'ja', :lang => 'ja'}
  %head
    %meta{'http-equiv' => 'Content-Type', 'content' => 'text/html; charset=utf-8'}
    %meta{'http-equiv' => 'Content-Style-Type', 'content' => 'text/css'}
    %meta{'http-equiv' => 'Content-Script-Type', 'content' => 'text/javascript'}
    %title= yield(:title)
  %body
    #header
      %h1 Hello
      %ul
      - if logged_in?
        %li= link_to 'ログアウト', logout_path
      - else
        %li= link_to 'ツイッターでログイン', login_path
    #wrapper{:class => "#{controller_name}_#{action_name}"}
      = yield
    #footer
      
